//colors

$dark: #1A262F;
$yellow: #F8B321;
$grey: #BDBDBD;
$middleGrey: #828282;
$white: #fff;
$black: #000;
// fonts
$primaryFont: 'Mukta', sans-serif;

// section border

$sectionBorder: 5px solid $yellow;
